/*  Global elements  */
*{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    font-size: 1.7vw;
    margin: 2vh 10vh;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 10vh;
}

h1{
    font-size: 2.8vw;
    font-weight: 900;
    margin: 0;
    text-decoration: underline solid rgb(20, 5, 231);
}    

h2{
    font-size: 1.7vw;
    font-weight: 900;
    margin: 0;
}

/*  Class Modifications  */
.starting-card{
    display: flex;
    font-size: 1.6vw;
    text-align: center;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.questions-card{
    display: none;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}
